extends layout

block content
    h1 AngularJS 2
    hr
    my-app Loading...
    script(src='build/angular/polyfills.js')
    script(src='build/angular/vendor.js')
    script(src='build/angular/app.js')
