extends layout

block content
    div(style='text-align:center')
        h1(style='margin-bottom:20px') Choose your flavour
        a.btn.btn-primary.btn-lg.btn-block(href='/react') React.js + Redux
        a.btn.btn-primary.btn-lg.btn-block(href='/angular') AngularJs 2